////////////////////////////////////////////
// Mixins
@mixin respond($break-point)
{
    @if($break-point == phone)
    {
        @media only screen and (max-width: 37.5em){@content}; // < 600px
    }
    @if($break-point == tab-port)
    {
        @media only screen and (max-width: 56.25em){@content}; // < 900px
    }
    @if($break-point == tab-land)
    {
        @media only screen and (max-width: 75em){@content}; // < 1200px
    }
}






////////////////////////////////////////////
// Colors
$color-primary: #715bf5;
$color-primary-light: #9b8bf8;
$color-primary-dark: #3a1bf1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(223, 219, 219);
$color-grey-light-3: rgb(196, 192, 192);

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;






////////////////////////////////////////////
// Basic installation
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%; // 10px / 16px
    @include respond(tab-land) {font-size: 56.25%;} // 9px
    @include respond(tab-port) {font-size: 50%;} // 8px
}
body
{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: $color-grey-dark-1;
    background-color: $color-white;

    & > *
    {
        padding: 6rem;

        @include respond(tab-port){padding: 4rem;}
    }
}






////////////////////////////////////////////
// Reusable components
a{text-decoration: none; color: inherit; font-weight: inherit;}
.btn
{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    transition: all .2s ease-in-out;

    &:hover
    {
        background: $color-primary-dark;
    }
}
.btn--blue
{
    color: $color-white;
    background: $color-primary;
}
.heading__primary--container
{
    text-align: center;
    margin-bottom: 2rem;
}
.heading__primary
{
    font-size: 2.8rem;
    color: $color-grey-dark-3;
    &--span{color: $color-primary;}
}






////////////////////////////////////////////
// Navigation
.navigation
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111111111;
    background: $color-white;    
    height: 9rem;

    &__container
    {
        position: relative;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone)
        {
            max-height: 6rem;
        }
    }
    &__logo
    {
        display: flex;
        align-items: center;

        &>*:first-child{margin-right: .5rem;}
    }
    &__icon
    {
        font-size: 2.5rem;
        transition: all .2s ease-in-out;

        &.active {color: $color-primary;}
        &:hover{color: $color-primary;}
    }
    .js__navigation__icon--menu
    {
        display: none;

        @include respond(phone){display: inline-block;}
    }
    &__name
    {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-grey-dark-3;
    }
    &__list
    {
        display: flex;
        list-style: none;

        @include respond(phone)
        {
            position: absolute;
            top: 7rem;
            left: 0;
            flex-direction: column;
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: all .2s ease-in-out;
            background: $color-white;
            padding: 2rem;
        }
        &.active{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
    }
    &__item
    {
        &:not(:last-of-type){margin-right: 2rem;}

        @include respond(phone)
        {
            padding: 1.5rem 0;
            display: block;
            
            margin-right: 0 !important;
            &:not(:last-of-type){border-bottom: 1px solid $color-grey-light-2;}
        }
    }
    &__link
    {
        font-size: 1.4rem;
        transition: all .2s ease-in-out;
        font-weight: 500;
        &:hover{color: $color-primary;}
        @include respond(phone){font-size: 1.6rem;}
    }
    &__right
    {
        &:not(:last-of-type){margin-right: 1rem;}
    }

    // hidden components
    &__form
    {
        position: absolute;
        top: -250%;
        right: 0rem;
        transition: all .2s ease-in-out;

        display: flex;
        align-items: center;

        .navigation__icon
        {
            cursor: pointer;
        }
        &.active
        {
            top: 250%;
        }
        @include respond(phone) {width: 100%;}
    }
    &__input
    {
        border: none;
        background-color: $color-white;
        padding: 1rem 2rem;
        color: inherit;
        font-weight: inherit;
        font-size: 1.6rem;
        border-radius: .5rem;
        margin-right: -3rem;
        width: 35rem;

        &:focus{outline: none;}
        @include respond(phone){width: 100%;}
    }

    &__cart
    {
        padding: 2rem 2rem 2rem 2rem;
        position: absolute;
        top: 250%;
        right: 0rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all .2s ease-in-out;
        background-color: $color-white;

        &.active{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}

        &--item
        {   
            padding: 1rem 0;
            cursor: pointer;

            display: flex;
            align-items: center;
            &:not(:last-of-type){border-bottom: 1px solid $color-grey-dark-1;}
        }
        &--image-container
        {
            margin-right: 1rem;
            width: 5rem;
            height: 5rem;
        }
        &--image
        {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &--name
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: .5rem;
        }
    }
}






////////////////////////////////////////////
// Swiper
.swiper 
{
    width: 100%;
    height: 100%;
}

// .swiper-slide 
// {
//     // text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
// }

// .swiper-slide img
// {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .swiper 
// {
//     margin-left: auto;
//     margin-right: auto;
// }






////////////////////////////////////////////
// Header
.header
{
    height: 100vh;
    padding: 0;
    padding-top: 9rem;
}
.slide__background
{
    background-position: center;
    background-size: cover;
    position: relative;

    &--1
    {
        background-image: url('../img/banner3.jpg');
    }
    &--2
    {
        background-image: url('../img/banner2.jpg');
    }
    &--3
    {
        background-image: url('../img/banner1.jpg');
    }

    @include respond(tab-port){background-position: left;}
}
.slide
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    @include respond(tab-port)
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    &__discount
    {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }   
    &__heading
    {
        font-size: 4.5rem;
        color: $color-grey-dark-3;
        margin-bottom: 3rem;
        @include respond(phone){font-size: 4rem;}
    }
}

.swiper-button
{
    &-next, &-prev
    {
        bottom: 3rem;
        top: auto;
        color: $color-grey-dark-2;
        padding:3rem;
        background-color: $color-white;
        @include respond(phone){bottom: 6rem;}
    }
    &-prev
    {
        
        left: auto;
        right: 10rem;
    }
}






////////////////////////////////////////////
// Products
.product__list
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 3rem;
}
.product__list--item
{
    font-size: 1.4rem;
    transition: all .2s ease-in-out;

    &:not(:last-of-type){margin-right: 1.5rem;}

    &:hover{color: $color-primary;}
}
.product__link.active{color: $color-primary;}
.products
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@keyframes downToUp {
    0%
    {
        transform: translateY(10rem);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.product
{
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    border: 2px solid $color-grey-light-2;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;

    &.hide{display: none;}
    &.active
    {
        animation: downToUp .5s ease-in-out;
    }

    

    &__image
    {
        width: 25rem;
        height: 35rem;
    }
    &__icons
    {
        width: 25rem;
        height: 35rem;
        background: rgba($color-grey-dark-2, .8);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);

        & > *
        {
            background: $color-white;
            padding: .8rem;
            font-size: 2.5rem;
            cursor: pointer;
            &:not(:last-of-type){margin-right: 1rem;}
            &:hover{color: $color-primary;}
        }

    }

    &:hover &__icons{transform: scale(1);}

    &__details
    {
        padding: 2rem;
    }
    &__stars
    {
        margin-top: .5rem;

        & > *
        {
            color: #FFBD00;
            font-size: 1.5rem;
        }
    }
}