////////////////////////////////////////////
// Swiper link: https://swiperjs.com/

////////////////////////////////////////////
// Mixins
@mixin respond($break-point)
{
    @if($break-point == phone)
    {
        @media only screen and (max-width: 37.5em){@content}; // < 600px
    }
    @if($break-point == tab-port)
    {
        @media only screen and (max-width: 56.25em){@content}; // < 900px
    }
    @if($break-point == tab-land)
    {
        @media only screen and (max-width: 75em){@content}; // < 1200px
    }
}






////////////////////////////////////////////
// Colors
$color-primary: #715bf5;
$color-primary-light: #9b8bf8;
$color-primary-dark: #3a1bf1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(223, 219, 219);
$color-grey-light-3: rgb(196, 192, 192);

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;






////////////////////////////////////////////
// Basic installation
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%; // 10px / 16px
    @include respond(tab-land) {font-size: 56.25%;} // 9px
    @include respond(tab-port) {font-size: 50%;} // 8px
}
body
{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: $color-grey-dark-1;
    background-color: $color-white;

    & > *
    {
        padding: 6rem;

        @include respond(tab-port){padding: 4rem;}
    }
}






////////////////////////////////////////////
// Reusable components
a{text-decoration: none; color: inherit; font-weight: inherit;}
.btn
{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    &:hover
    {
        background: $color-primary-dark;
    }
}
.btn--blue
{
    color: $color-white;
    background: $color-primary;
}
.heading__primary--container
{
    text-align: center;
    margin-bottom: 2rem;
}
.heading__primary
{
    font-size: 2.8rem;
    color: $color-grey-dark-3;
    &--span{color: $color-primary;}
}






////////////////////////////////////////////
// Navigation
.navigation
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111111111;
    background: $color-white;    
    height: 9rem;

    &__container
    {
        position: relative;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone)
        {
            max-height: 6rem;
        }
    }
    &__logo
    {
        display: flex;
        align-items: center;

        &>*:first-child{margin-right: .5rem;}
    }
    &__icon
    {
        font-size: 2.5rem;
        transition: all .2s ease-in-out;

        &.active {color: $color-primary;}
        &:hover{color: $color-primary;}
    }
    .js__navigation__icon--menu
    {
        display: none;

        @include respond(phone){display: inline-block;}
    }
    &__name
    {
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-grey-dark-3;
    }
    &__list
    {
        display: flex;
        list-style: none;

        @include respond(phone)
        {
            position: absolute;
            top: 7rem;
            left: 0;
            flex-direction: column;
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: all .2s ease-in-out;
            background: $color-white;
            padding: 2rem;
        }
        &.active{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
    }
    &__item
    {
        &:not(:last-of-type){margin-right: 2rem;}

        @include respond(phone)
        {
            padding: 1.5rem 0;
            display: block;
            
            margin-right: 0 !important;
            &:not(:last-of-type){border-bottom: 1px solid $color-grey-light-2;}
        }
    }
    &__link
    {
        font-size: 1.4rem;
        transition: all .2s ease-in-out;
        font-weight: 500;
        &:hover{color: $color-primary;}
        @include respond(phone){font-size: 1.6rem;}
    }
    &__right
    {
        &:not(:last-of-type){margin-right: 1rem;}
    }

    // hidden components
    &__form
    {
        position: absolute;
        top: -350%;
        right: 0rem;
        transition: all .2s ease-in-out;

        display: flex;
        align-items: center;

        .navigation__icon
        {
            cursor: pointer;
        }
        &.active
        {
            top: 250%;
        }
        @include respond(phone) {width: 100%;}
    }
    &__input
    {
        border: none;
        background-color: $color-white;
        padding: 1rem 2rem;
        color: inherit;
        font-weight: inherit;
        font-size: 1.6rem;
        border-radius: .5rem;
        margin-right: -3rem;
        width: 35rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &:focus{outline: none;}
        @include respond(phone){width: 100%;}
    }

    &__cart
    {
        padding: 2rem 2rem 2rem 2rem;
        position: absolute;
        top: 250%;
        right: 0rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all .2s ease-in-out;
        background-color: $color-white;

        &.active{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}

        &--item
        {   
            padding: 1rem 0;
            cursor: pointer;

            display: flex;
            align-items: center;
            &:not(:last-of-type){border-bottom: 1px solid $color-grey-dark-1;}
        }
        &--image-container
        {
            margin-right: 1rem;
            width: 5rem;
            height: 5rem;
        }
        &--image
        {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &--name
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: .5rem;
        }
    }
}






////////////////////////////////////////////
// Swiper
.swiper 
{
    width: 100%;
    height: 100%;
}

// .swiper-slide 
// {
//     // text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
// }

// .swiper-slide img
// {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .swiper 
// {
//     margin-left: auto;
//     margin-right: auto;
// }






////////////////////////////////////////////
// Header
.header
{
    height: 100vh;
    padding: 0;
    padding-top: 9rem;
}
.slide__background
{
    background-position: center;
    background-size: cover;
    position: relative;

    &--1
    {
        background-image: url('../img/banner3.jpg');
    }
    &--2
    {
        background-image: url('../img/banner2.jpg');
    }
    &--3
    {
        background-image: url('../img/banner1.jpg');
    }

    @include respond(tab-port){background-position: left;}
}
.slide
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    @include respond(tab-port)
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    &__discount
    {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }   
    &__heading
    {
        font-size: 4.5rem;
        color: $color-grey-dark-3;
        margin-bottom: 3rem;
        @include respond(phone){font-size: 4rem;}
    }
}

.swiper-button
{
    &-next, &-prev
    {
        bottom: 3rem;
        top: auto;
        color: $color-grey-dark-2;
        padding:3rem;
        background-color: $color-white;
        @include respond(phone){bottom: 6rem;}
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }
    &-prev
    {
        
        left: auto;
        right: 10rem;
    }
}






////////////////////////////////////////////
// Exclusive Products
.product__list
{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 3rem;
}
.product__list--item
{
    font-size: 1.4rem;
    transition: all .2s ease-in-out;

    &:not(:last-of-type){margin-right: 1.5rem;}

    &:hover{color: $color-primary;}
}
.product__link.active{color: $color-primary;}
.products
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@keyframes downToUp {
    0%
    {
        transform: translateY(10rem);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.product
{
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    // border: 2px solid $color-grey-light-2;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    // width: 25rem !important;

    &.hide{display: none;}
    &.active
    {
        animation: downToUp .5s ease-in-out;
    }

    &__image
    {
        width: 25rem;
        height: 35rem;
    }
    &__icons
    {
        width: 25rem;
        height: 35rem;
        background: rgba($color-grey-dark-2, .8);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);

        & > *
        {
            background: $color-white;
            border-radius: 1rem;
            padding: .8rem;
            font-size: 2.5rem;
            cursor: pointer;
            &:not(:last-of-type){margin-right: 1rem;}
            &:hover{color: $color-primary;}
        }

    }

    &:hover &__icons{transform: scale(1);}

    &__details
    {
        padding: 2rem;
    }
    &__stars
    {
        margin-top: .5rem;

        & > *
        {
            color: #FFBD00;
            font-size: 1.5rem;
        }
    }
}






////////////////////////////////////////////
// Collection
.section__collection
{
    background: $color-grey-light-1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include respond(phone){flex-wrap: wrap;}
}
.collection
{
    &__image--container
    {
        width: 50rem;
        height: auto;
        flex: 0 1 40%;

        @include respond(phone)
        {
            flex: 0 1 100%;
            height: 50rem;
            text-align: center;
        }
    }
    &__image
    {
        width: 100%;
        height: 100%;
        margin-top: -10rem;

        @include respond(tab-port){margin-top: -8rem;}
    }

    &__details
    {
        flex: 0 1 40%;

        @include respond(tab-port){flex: 0 1 50%;}
        @include respond(phone){flex: 0 1 100%; text-align: center;}
    }
}






////////////////////////////////////////////
// Featured products with slider
.product__swiper--featured, .blog__swiper{margin-top: 4rem;}
.sproduct__inside
{
    text-align: center;
    .product__image, .product__icons
    {
        width: 100%;
        @include respond(tab-land)
        {
            width: 70%;
            height: 35rem;
        }
        @include respond(tab-port)
        {
            width: 70%;
            height: 40rem;
        }
        @include respond(phone)
        {
            width: 50%;
            height: 45rem;
        }
    }
    .product__icons
    {
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%) scale(0); 
    }
    &:hover .product__icons
    {
        transform: translate(-50%, 0%) scale(1);
    }
}
.swiper-pagination-2{text-align: center;}






////////////////////////////////////////////
// Reviews
.section__reviews
{
    background: $color-grey-light-1;
}
.review
{
    border: 1px solid $color-grey-light-2;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__paragraph
    {
        margin: 0 auto;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        line-height: 170%;
    }
    &__person
    {
        display: flex;
        align-items: center;
    }
    &__image
    {
        width: 8rem;
        height: 7rem;
        border-radius: 5px;
    }
    &__cont
    {
        margin-left: 1rem;
    }
    &__name
    {
        font-size: 1.8rem;
        color: $color-grey-dark-3;
        margin-bottom: .5rem;
    }
    &__job
    {
        color: #ec3d00;
        font-size: 1.3rem;
        font-weight: 500;
    }
}
.swiper__reviews .swiper-pagination-2{margin-top: 4rem;}






////////////////////////////////////////////
// Contact
.contact
{
    &__boxes
    {
        margin-top: 5rem;

        display: flex;
        justify-content: space-between;
        
        @include respond(tab-port)
        {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__box
    {
        padding: 2rem 5rem;
        border: 2px solid $color-grey-light-2;
        border-radius: .5rem;
        text-align: center;
        margin-bottom: 3rem;
        flex: 0 1 32%;
        
        @include respond(tab-port){flex: 0 1 49%; padding: 2rem 4rem;}
        @include respond(phone){flex: 100%; padding: 2rem;}
    }
    &__icon
    {
        font-size: 2rem;
        border-radius: 50%;
        padding: 1rem;
        border: 2px solid $color-grey-light-2;
        margin-bottom: 1rem;
    }
    &__name
    {
        font-size: 1.7rem;
        color: $color-grey-dark-3;
        margin-bottom: 1rem;
    }
    &__value
    {
        font-size: 1.4rem;
        font-weight: 400;
        &:not(:last-of-type){margin-bottom: 1rem;}
    }

    // inputs & map
    &__below
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
    }
    &__form
    {
        padding: 1rem;
        border: 2px solid $color-grey-light-2;
        border-radius: .5rem;
        flex: 1 1 42rem;
        align-self: flex-start;

        &--label
        {
            font-size: 2.5rem;
            font-weight:700;
            color: $color-grey-dark-3;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }
    &__input--container
    {
        margin-bottom: 2rem;

        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include respond(phone){flex-wrap: wrap;}
    }
    &__input, &__input--textarea
    {
        border: none;
        border: 1px solid $color-grey-light-2;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: inherit;
        font-weight: inherit;
        border-radius: 5px;

        &:focus{outline: none;}
    }
    &__input
    {
        flex: 0 1 49%;

        @include respond(phone){flex: 0 1 100%;}
    }
    &__input--textarea
    {
        width: 100%;
        height: 15rem;
        margin-bottom: 2rem;
    }
    &__map
    {
        
        flex: 1 1 42rem;
        width: 100%;
        padding: 1rem;
        border: 2px solid $color-grey-light-2 !important;
        border-radius: .5rem;
    }
    .btn{margin-bottom: 1rem;}
}






////////////////////////////////////////////
// Blogs
.section__blogs__slider
{
    background: $color-grey-light-1;


    .product
    {
        text-align: left;
        border: 1px solid $color-grey-light-2;

        & > *:not(:first-child)
        {
            margin: 0 1.5rem 1.5rem 1.5rem;
        }

        &__image--container
        {
            width: 100%;
            height: 30rem;

            @include respond(tab-port){height: 43rem}
            @include respond(phone){height: 45rem;}
        }
        &__image
        {
            width: 100%;
            height: 100%;
        }
        &__title
        {
            margin-top: 1.5rem !important;
            font-size: 1.6rem;
            color: $color-grey-dark-3;
        }
        &__paragraph
        {
            font-size: 1.3rem;
            line-height: 170%;
        }
        &__line
        {
            height: 2px;
            background-color:$color-grey-light-2;
        }
        &__below
        {
            display: flex;
            justify-content: space-between;
        }
        &__date--container
        {
            display: flex;
            align-items: center;
        }
        &__icon
        {
            font-size: 1.3rem;
            color:$color-primary;
            margin-right: .5rem;
        }
        &__date
        {
            font-size: 1.3rem;
        }
    }




    .swiper-button
    {
        &-next, &-prev
        {
            bottom: 3rem;
            top: 50%;
            color: $color-grey-dark-2;
            padding:4rem;
            background-color: $color-white;
            transform: scale(.6) translateY(-50%);
            opacity: 1 !important;

            @include respond(phone){bottom: 6rem;}
        }
        &-prev
        {
            left: 0;
            right: 10rem;
        }
    }
}